1. Importação dos arquivos de código:
Com os trechos de códgio estão organizados em arquivos e pastas dentro do projeto, fazemos a importação de todos os arquivos necessários.

In [1]:
from app.src.loader.loader import carregar_instancia
from app.src.algorithms.algorithms import floyd_warshall
from app.src.metrics.metrics import calcular_metricas
from app.src.utils.utils import imprimir_matriz_dist
from app.src.utils.utils import imprimir_matriz_pred
from app.src.utils.utils import imprimir_dados_grafo
from app.src.utils.utils import imprimir_intermediacao

2. Leitura do Arquivo:
Aqui é onde o usuário irá informar qual dos arquivos (contidos dentro da pasta app/storage) ele irá utilizar.

In [2]:
nome_arquivo = input("Digite o nome do arquivo (ex: BHW1): ")

3. Instância do Grafo e métricas:
Aqui é onde o nosso grafo é instânciado com as informações obtidas do .dat. Além disso, aqui também é chamda a função para realizar o cálculo das métricas do grafo e o algoritmo de Floyd Warshall.

In [3]:
grafo = carregar_instancia('app/storage/' + nome_arquivo + '.dat')
dist, pred, index = floyd_warshall(grafo)
metricas = calcular_metricas(grafo, dist, pred, index)

4. Visualização das métricas:
Neste trecho é exibida a tabela com as informações do grafo e as métricas calculadas.

In [4]:
imprimir_dados_grafo(metricas)

5. Intermediações:
Neste trecho é exibida a tabela das intermediações dos vértices do grafo.

In [5]:
imprimir_intermediacao(metricas["intermediacao"])

6. Matriz de Distâncias:
Aqui é onde é chamada a função para exibir a matriz de distâncias dos vértices do grafo.

In [6]:
imprimir_matriz_dist(dist, index)

7. Matriz de Predecessores:
Aqui é onde é chamada a função para exibir a matriz de predecessores dos vértices do grafo.

In [7]:
imprimir_matriz_pred(pred, index)